.contact {
  width: 100%;
  height: 50vh;
}

.contact .box-contact {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .box-contact .contact-text-area .title-section {
  width: 60%;
  line-height: 54px;
  color: black;
  margin-bottom: 30px;
}

.contact .box-contact .contact-active {
}

.contact .box-contact .contact-active li {
  display: flex;
  gap: 12px;
  padding: 0.5rem;
  font-size: 1.8rem;
}

.contact .box-contact .contact-active li img {
  width: 40px;
  object-fit: cover;
  height: 40px;
  object-fit: cover;
}

.contact .box-contact .contact-text-area .subtitle-section {
  width: 45%;
  margin-bottom: 30px;
}

.contact .box-contact .contact-text-area button {
  padding: 1rem;
  width: 40%;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--banner-color);
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  .contact {
    margin-top: 110px;
  }
  .contact .box-contact {
    margin-top: 510px;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    justify-content: flex-start;
  }

  .contact .box-contact .contact-text-area .subtitle-section {
    width: 100%;
  }

  .contact .box-contact .contact-text-area .title-section {
    font-size: 2rem;
    width: 100%;
  }

  .contact .box-contact .contact-active li img {
    width: 20px;
    object-fit: cover;
    height: 20px;
    object-fit: cover;
  }

  .contact .box-contact .contact-active li {
    font-size: 1.2rem;
  }

  .contact .box-contact .contact-active {
    text-align: center;
  }

  .contact .box-contact .contact-text-area button {
    font-size: 0.7rem;
    width: 100%;
  }
}
