footer {
  display: flex;
  align-items: center;
}
.box-footer {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-footer .title-footer {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
}

.box-footer .social-footer {
  display: flex;
}

.box-footer .social-footer li {
  margin-left: 1.5rem;
}

@media (max-width: 700px) {
  footer {
    margin-top: 110px;
  }
  .box-footer {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .box-footer .title-footer {
    font-size: 1.8rem;
  }
}
