* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* =======================GLOBAIS=================== */

:root {
  --btn-yellow-color: #ffe100;
  --btn-white: #ffffff;
  --xl-txt-color: #6c6c6c;
  --md-txt-color: #585555;
  --sm-txt-color: #707070;
  --contrast-color-txt: #323232;
  --btn-cronograma: #033c35;
  --card-color: #efefef;
  --banner-color: #1e9d9d;
  --extra-small-txt: #414141;
  --txt-color-card: #575252;
  --dashboard-color: #9d9a9a;
  --line-input-color: #d9d9d9;
}

body {
  color: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

.title-section {
  font-size: 3rem;
  color: var(--xl-txt-color);
  font-weight: bold;
}

.subtitle-section {
  font-size: 1rem;
  color: var(--md-txt-color);
}

.display-hidden {
  display: none;
}

/* ===========================FOOTER=========================== */
footer {
  background-color: var(--banner-color);
  height: 150px;
}

/* =========================MODAL=============================== */
.containerLoading {
  height: 100vh;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.containerLoading button {
  background-color: var(--banner-color);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
  color: white;
  margin-bottom: 15px;
}

.loading {
  border: 16px solid rgb(219, 219, 219);
  width: 120px;
  height: 120px;
  border-top: 16px solid var(--banner-color);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
